h2{
    font-family: var(--booz-source-sans);
}

h1 {
    font-family: var(--booz-source-sans);
}

.title {
    font-family: var(--booz-source-sans);
    font-size: 24px;
    font-weight: 600;
    display: inline;
}

#BAP{
    color: black;
}

#Xchange{
    color: #005057;
}

.navbar{
    display: inline;
}

.nav-home,
.nav-about,
.nav-activity,
.nav-faq,
.nav-contact{
    font-weight: 500;
    color: #2c4357
}

.portal h3 {
    font-size: 16px;
}

.datalinks h1,
.FAQ h1 {
    text-align: center;
}

.jumbotron{
  border: solid 1px #005058;
  background-color: #066a73 !important;
//   background-image: ;
}

div.portal {
    border: solid 1px white;
    border-radius: 5px;
}

.portal h3 {
    color: white;
    margin: 0.5rem 0;
}

div.partner {
    background-color: #005057;
    margin-bottom: 1rem;
}

div.employee {
    background-color: #1d818c;
    margin-top: 1rem;
}

.login-button a{
    border: solid 1px white;
    border-radius: 5px;
    display: block;
    text-align: left;
    background-color: white;
    color: black;
}

.login-arrow-right {
    position: absolute;
    right: 1.5rem;
}